@charset "UTF-8";

.content-wrap {
	margin: 0 auto;
	width: 1300px;
}

.table>tbody>tr>td {
	text-align: center;
	vertical-align: middle;
}

.table>tbody>tr>td>button:last-child {
	margin-left: 5px;
}

.btn-wrap {
	float: right;
}

.btn-wrap>button:last-child {
	margin-left: 5px;
}